<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Journal</title>
</head>
<body>
<%- include('./navbar'); %>
<main class="container mx-auto px-6 py-16 lg:px-8">
    <form action="/journals/update/<%= journal.journal_id %>" method="post">
        <div class="space-y-12">
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Profile</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">This information will be displayed publicly so be
                    careful what you share.</p>

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div id="title-input" class="sm:col-span-4">
                        <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="text"
                                   name="title"
                                   id="title"
                                   value="<%= journal.title %>"
                                   class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <% [
                            {emotion: 'anger', style: 'accent-red-600'},
                                    {emotion: 'contempt', style: 'accent-gray-600'},
                                    {emotion: 'disgust', style: 'accent-lime-800'},
                                    {emotion: 'enjoyment', style: 'accent-yellow-300'},
                                    {emotion: 'fear', style: 'accent-violet-500'},
                                    {emotion: 'sadness', style: 'accent-blue-500'},
                                    {emotion: 'surprise', style: 'accent-pink-400'}
                            ].map(emotion => { %>
                        <div id="<%= emotion.emotion %>-input" class="col-span-4">
                            <label for="<%= emotion.emotion %>"
                                   class="block text-sm font-medium leading-6 text-gray-900 pb-1"><%= emotion.emotion %></label>
                            <div class="flex flex-row">
                                <p class="pt-3">0</p>
                                <input name="<%= emotion.emotion %>"
                                       id="<%= emotion.emotion %>"
                                       type="range"
                                       value="<%= journal[emotion.emotion] %>"
                                       min="0"
                                       max="5"
                                       class="block w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer <%= emotion.style %>">
                                <p class="pt-3">5</p>
                            </div>
                        </div>
                    <% }) %>

                    <div id="trigger-input" class="col-span-4">
                        <label for="trigger" class="block text-sm font-medium leading-6 text-gray-900">Trigger</label>
                        <select id="trigger" name="trigger"
                                value="<%= journal.trigger_reason %>"
                                class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <option value="" disabled selected>Select your option</option>
                            <% ['Education', 'Family', 'Finances', 'Friendship', 'Health', 'Relationship', 'Work'].map(trigger => { %>
                                <option <%= journal.trigger_reason === trigger ? 'selected' : '' %>><%= trigger %></option>
                            <% }) %>
                        </select>
                    </div>

                    <div id="datetime-input">
                        <input type="hidden" name="datetime" id="user-id"
                               value="<%= new Date().toISOString().slice(0, 19).replace('T', ' '); %>">
                    </div>

                    <div class="col-span-full">
                        <label for="notes" class="block text-sm font-medium leading-6 text-gray-900">Notes</label>
                        <div class="mt-2">
                            <textarea id="notes"
                                      name="notes"
                                      rows="3"
                                      class="block w-full rounded-md border-0 py-1.5 pl-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"><%= journal.notes.trim() %></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
            <a href="/journals/<%= journal.journal_id %>" type="button"
               class="text-sm font-semibold leading-6 text-gray-900">
                Cancel
            </a>
            <button type="submit"
                    class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Update
            </button>
        </div>
    </form>
</main>
</body>
</html>