<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Journal</title>
</head>
<body>
<main class="bg-white px-6 py-32 lg:px-8">
    <form action="/journals/update/<%= journal.journal_id %>" method="post">
        <div class="space-y-12">
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Profile</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">This information will be displayed publicly so be
                    careful what you share.</p>

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div id="title-input" class="sm:col-span-4">
                        <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="text"
                                   name="title"
                                   id="title"
                                   value="<%= journal.title %>"
                                   class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <% ['anger', 'contempt', 'disgust', 'enjoyment', 'fear', 'sadness', 'surprise'].map(emotion => { %>
                        <div id="<%= emotion %>-input" class="sm:col-span-4">
                            <label for="<%= emotion %>"
                                   class="block text-sm font-medium leading-6 text-gray-900 pb-1"><%= emotion %></label>
                            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                <input type="number"
                                       max="5"
                                       min="0"
                                       name="<%= emotion %>"
                                       id="<%= emotion %>"
                                       value="<%= journal[emotion] %>"
                                       class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                    <% }) %>

                    <div id="trigger-input" class="sm:col-span-4">
                        <label for="trigger" class="block text-sm font-medium leading-6 text-gray-900">Trigger</label>
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            <input type="text"
                                   name="trigger"
                                   id="trigger"
                                   value="<%= journal.trigger_reason %>"
                                   class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div id="datetime-input">
                        <input type="hidden" name="datetime" id="user-id"
                               value="<%= new Date().toISOString().slice(0, 19).replace('T', ' '); %>">
                    </div>

                    <div class="col-span-full">
                        <label for="notes" class="block text-sm font-medium leading-6 text-gray-900">Notes</label>
                        <div class="mt-2">
                            <textarea id="notes"
                                      name="notes"
                                      rows="3"
                                      class="block w-full rounded-md border-0 py-1.5 pl-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"><%= journal.notes.trim() %></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
            <a href="/journals/<%= journal.journal_id %>" type="button"
               class="text-sm font-semibold leading-6 text-gray-900">
                Cancel
            </a>
            <button type="submit"
                    class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Update
            </button>
        </div>
    </form>
</main>
</body>
</html>