<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Journal</title>
</head>
<body class="container mx-auto max-w-screen-xl px-6 pt-10 lg:px-8 md:pt-32">

<header>
    <a href="/journals/"
       class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        Back
    </a>

    <h1 class="mt-5 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        <%= journal.title %>
    </h1>
    <p class="text-base font-semibold leading-7 text-indigo-600 ">
        Journal entry for
        <%= new Date(journal.datetime).toLocaleDateString() %>
        submitted at
        <%= new Date(journal.datetime).toLocaleTimeString() %>
    </p>
</header>

<main class="bg-white">
    <section id="emotions">
        <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 mt-8">
            <dl id="anger">
                <dt class="flex flex-row text-sm font-medium text-gray-500 py-2">
                    <img src="/icons/anger.svg" alt="anger icon" class="h-5 w-5"/>
                    <span class="pl-2">Anger</span>
                </dt>
                <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded h-2.5 me-2">
                        <div class="bg-red-600 h-2.5 rounded" style="width: <%= journal.anger * 20 %>%"></div>
                    </div>
                </dd>
            </dl>

            <dl id="contempt">
                <dt class="flex flex-row text-sm font-medium text-gray-500 py-2">
                    <img src="/icons/contempt.svg" alt="contempt icon" class="h-5 w-5"/>
                    <span class="pl-2">Contempt</span>
                </dt>
                <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded h-2.5 me-2">
                        <div class="bg-gray-600 h-2.5 rounded" style="width: <%= journal.contempt * 20 %>%"></div>
                    </div>
                </dd>
            </dl>

            <dl id="disgust">
                <dt class="flex flex-row text-sm font-medium text-gray-500 py-2">
                    <img src="/icons/disgust.svg" alt="disgust icon" class="h-5 w-5"/>
                    <span class="pl-2">Disgust</span>
                </dt>
                <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded h-2.5 me-2">
                        <div class="bg-lime-800 h-2.5 rounded" style="width: <%= journal.disgust * 20 %>%"></div>
                    </div>
                </dd>
            </dl>

            <dl id="enjoyment">
                <dt class="flex flex-row text-sm font-medium text-gray-500 py-2">
                    <img src="/icons/enjoyment.svg" alt="enjoyment icon" class="h-5 w-5"/>
                    <span class="pl-2">Enjoyment</span>
                </dt>
                <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded h-2.5 me-2">
                        <div class="bg-yellow-300 h-2.5 rounded" style="width: <%= journal.enjoyment * 20 %>%"></div>
                    </div>
                </dd>
            </dl>

            <dl id="fear">
                <dt class="flex flex-row text-sm font-medium text-gray-500 py-2">
                    <img src="/icons/fear.svg" alt="fear icon" class="h-5 w-5"/>
                    <span class="pl-2">Fear</span>
                </dt>
                <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded h-2.5 me-2">
                        <div class="bg-violet-500 h-2.5 rounded" style="width: <%= journal.fear * 20 %>%"></div>
                    </div>
                </dd>
            </dl>

            <dl id="sadness">
                <dt class="flex flex-row text-sm font-medium text-gray-500 py-2">
                    <img src="/icons/sadness.svg" alt="sadness icon" class="h-5 w-5"/>
                    <span class="pl-2">Sadness</span>
                </dt>
                <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded h-2.5 me-2">
                        <div class="bg-blue-500 h-2.5 rounded" style="width: <%= journal.sadness * 20 %>%"></div>
                    </div>
                </dd>
            </dl>

            <dl id="surprise">
                <dt class="flex flex-row text-sm font-medium text-gray-500 py-2">
                    <img src="/icons/surprise.svg" alt="surprise icon" class="h-5 w-5"/>
                    <span class="pl-2">Surprise</span>
                </dt>
                <dd class="flex items-center mb-3">
                    <div class="w-full bg-gray-200 rounded h-2.5 me-2">
                        <div class="bg-pink-400 h-2.5 rounded" style="width: <%= journal.surprise * 20 %>%"></div>
                    </div>
                </dd>
            </dl>
        </div>
    </section>


    <section id="journal-notes" class="py-6  mt-2 ">
        <div class="pb-4">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900">
                Trigger:
                <span class="font-normal text-gray-700">
                    <%= journal.trigger_reason %>
                </span>
            </h5>
        </div>
        <hr class="py-2 "/>
        <div>
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900">Notes</h5>
            <p class="font-normal text-gray-700">
                <%= journal.notes %>
            </p>
        </div>
    </section>


    <section class="flex flex-row gap-2 justify-end">

        <div>
            <a type="button"
               href="/journals/edit/<%= journal.journal_id %>"
               class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                Edit
            </a>
        </div>

        <form action="/journals/delete" method="post">
            <input type="hidden" name="journalId" value="<%= journal.journal_id %>">
            <button type="submit"
                    class="rounded-md bg-red-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Delete
            </button>
        </form>
    </section>
</main>
</body>
</html>